@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600i,700');

*{
font-family: "Montserrat";
font-weight:400;
}
/* --------------------------------------NAVBAR-------------------------------------- */
.nav-container{
 justify-content: flex-end;
}
.navbar-local{
  font-size: 20px
}
.navbar-local a{
  color: #fff;
  font-size: 40px;
  margin-top: 30px;
  margin-left: 30px;
}
.menu-list li a {
  font-size: 14px;
  margin-right: 30px
}
.navbar-local a:hover{
  color: gray
}
@media (max-width:992px) {
  .navbar-local a{
    color: #fff;
    font-size: 90px;
    margin-left: 20px;
    margin-top: 30px;
  }
  .navbar-local button i{
    color: #fff;
    font-size: 90px;
    margin-right: 20px;
  }
  .menu-list {
    text-align: right;
  }
  .menu-list li a {
    font-size: 40px
  }
}
/* --------------------------------------SECTION PORTADA-------------------------------------- */
.portada-section{
  height: 100vh;
  background-color: transparent
}
.portada-background{
  background-image: url("../img/portada-background.png");
  background-size: cover;
  filter:brightness(30%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}
.portada{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 200px
}
.portada-title{
  margin-top: -140px
}
.portada-title h1{
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  font-size: 80px;
  line-height: 100px;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  animation: welcome 1s ease-out ;
}

@keyframes welcome {
  from {opacity: 0;
  line-height: 0px;
  font-size: 0px
}
  to {opacity: 100px;}
}

.portada-title h1 span{
  position: absolute;
  font-weight: 600;
  font-style: italic;
  overflow: hidden;
  animation: spanAnimation 6s linear infinite;
  opacity: 0
}

@keyframes spanAnimation {
  0%{
    opacity: 0;
    transform: translateX(-50px);
  }
  12%{
    opacity: 1;
    transform: translateX(0px);
  }
  24%{
    opacity: 1;
    transform: translateX(0px);
  }
  36%{
    opacity: 0;
    transform: translateX(50px);
  }
  100%{
    opacity: 0;
    transform: translateX(50px);
  }
}

.portada-title h1 span:nth-child(1){
  animation-delay: 0s;
}
.portada-title h1 span:nth-child(2){
  animation-delay: 2s;
}
.portada-title h1 span:nth-child(3){
  animation-delay: 4s;
}

.boton{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  color: white;
  border-color: transparent;
  background-image: linear-gradient(to right top, #f80051, #f1005f, #e9096b, #df1877, #d32481);
  box-shadow: 0 10px 30px rgba(0,0,0,.10), 0 6px 6px rgba(0,0,0,0.10);
  margin-top: 24px
}

@media (max-width:992px) {
  .portada{
    padding-left: 70px
  }
  .portada-title h1 {
    font-size: 140px;
    line-height: 180px;
  }
  .portada-title {
    margin-top: -400px;
  }

  .portada-title h1 span:nth-child(3){
    font-size: 112px;
  }

}

/* --------------------------------------SECTION SERVICIOS-------------------------------------- */

.servicios-section{
  height: 800px;
  background-color: #FAFAFA;
  padding-top: 40px
}

.servicios-header{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.servicios-title{
  text-align: center;
}

.servicios-title h2{
  font-weight: 700;
  font-size: 58px;
  text-transform: uppercase;
}

.servicios-subtitle{
  width: 500px
}

.servicios-subtitle h3{
  font-size: 14px;
}

.servicios-content{
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.servicios-card{
    margin: 0 auto;
    text-align: center;
    width: 350px;
    height: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.servicios-card-header{
  background-image: url("../img/card-1.png");
  height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.servicios-card-body{
  padding: 20px;
  background: #fff;
  border-radius: 5px
}

.servicios-card-body h2{
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
.servicios-card-body p{
  font-size: 16px;
  text-align: justify;
}

@media (max-width:992px) {

  .servicios-section{
    height: 4600px;
  }

  .servicios-card {
    width: 750px;
    height: auto;
    margin-bottom: 50px
  }
  .servicios-title h2 {
      font-size: 80px;
  }
  .servicios-subtitle{
    margin: 0 auto;
    width: 850px;
  }
  .servicios-subtitle h3{
    font-size: 28px;
    margin-bottom: 30px;
  }
  .servicios-card-header{
    height: 650px;
  }
  .servicios-card-body{
    padding: 20px;
    height: 780px
  }
  .servicios-card-body h2 {
    font-size: 60px;
  }
  .servicios-card-body p {
    font-size: 34px;
  }

}


/* --------------------------------------SECTION PROCESOS-------------------------------------- */
.proceso-section{
  height: 2000px;
  background-color: #f80051;
  padding-top: 190px;
}

.proceso-header{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.proceso-title{
  text-align: center;
  color: #fff
}

.proceso-title h2{
  font-weight: 700;
  font-size: 58px;
  text-transform: uppercase;
}
.proceso-title hr{
  background-color: #fff;

}
.proceso-subtitle{
  width: 500px
}

.proceso-subtitle h3{
  font-size: 12px;
  margin-bottom: 30px;
}

.proceso-card{
    margin: 0 auto;
    text-align: center;
    width: auto;
    height: 320px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -200px;
}

.proceso-card p{
    font-size: 50px;
    text-transform: uppercase;
}

.proceso-card-number{
    margin: 0 auto;
    text-align: center;
    width: auto;
    height: 320px;
    border-radius: 5px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: -200px;
}

.proceso-card-number p{
  font-size: 200px;
  color: #fff
}

.inverse-number{
  margin-right: 0px;
  margin-left: -200px;
}

.inverse-card{
  margin-left: 0px;
  margin-right: -200px;
}
/* --------------------------------------SECTION FOOTER-------------------------------------- */

.footer-section{
  background-color: #081E35;
  height: 300px;
  padding: 20px
}

.footer-header{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-title{
  text-align: center;
  color: #fff
}

.footer-title h2{
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
